In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('./train.csv')

In [3]:
train.head()

   index      송하인_격자공간고유번호      수하인_격자공간고유번호 물품_카테고리  운송장_건수
0      0  5011000595017300  2871000192069300      음반       3
1      1  4148000690043300  5011000264024400   문화컨텐츠       3
2      2  5011000078068400  1120000007005400     농산물       3
3      3  4127100048006400  5011000587019400    기타식품       7
4      4  5011000078068400  2823700010076300     농산물       3

In [4]:
train.dtypes

index            int64
송하인_격자공간고유번호     int64
수하인_격자공간고유번호     int64
물품_카테고리         object
운송장_건수           int64
dtype: object

In [5]:
train['송하인_격자공간고유번호'] = train['송하인_격자공간고유번호'].astype('str')
train['수하인_격자공간고유번호'] = train['수하인_격자공간고유번호'].astype('str')

In [6]:
train['송하인_격자공간고유번호_sigungu'] = train['송하인_격자공간고유번호'].str.slice(0, 5)

In [7]:
train['수하인_격자공간고유번호_sigungu'] = train['수하인_격자공간고유번호'].str.slice(0, 5)

In [8]:
train.head()

,index,송하인_격자공간고유번호,수하인_격자공간고유번호,물품_카테고리,운송장_건수,송하인_격자공간고유번호_sigungu,수하인_격자공간고유번호_sigungu
0,0,5011000595017300,2871000192069300,음반,3,50110,28710
1,1,4148000690043300,5011000264024400,문화컨텐츠,3,41480,50110
2,2,5011000078068400,1120000007005400,농산물,3,50110,11200
3,3,4127100048006400,5011000587019400,기타식품,7,41271,50110
4,4,5011000078068400,2823700010076300,농산물,3,50110,28237

In [9]:
sigungu = pd.read_csv('./국토교통부_전국 법정동_20211217_필터.csv', encoding='cp949')

In [10]:
sigungu.shape

(15226, 5)

In [11]:
sigungu.dtypes

법정동코드     int64
시도명      object
시군구명     object
읍면동명     object
리명       object
dtype: object

In [12]:
sigungu['법정동코드'] = sigungu['법정동코드'].astype('str')

In [13]:
sigungu['sigungu'] = sigungu['법정동코드'].str.slice(0, 5)

In [14]:
sigungu = sigungu[[ '시도명', '시군구명', 'sigungu']].drop_duplicates().reset_index(drop = True)

In [15]:
train_merge = pd.merge(train, sigungu, left_on = ['송하인_격자공간고유번호_sigungu'], right_on = ['sigungu'], how = "left")

In [16]:
print(train.shape)
print(train_merge.shape)

(31684, 7)
(31684, 10)

In [17]:
train_merge.head()

,index,송하인_격자공간고유번호,수하인_격자공간고유번호,물품_카테고리,운송장_건수,송하인_격자공간고유번호_sigungu,수하인_격자공간고유번호_sigungu,시도명,시군구명,sigungu
0,0,5011000595017300,2871000192069300,음반,3,50110,28710,제주특별자치도,제주시,50110
1,1,4148000690043300,5011000264024400,문화컨텐츠,3,41480,50110,경기도,파주시,41480
2,2,5011000078068400,1120000007005400,농산물,3,50110,11200,제주특별자치도,제주시,50110
3,3,4127100048006400,5011000587019400,기타식품,7,41271,50110,NaN,NaN,NaN
4,4,5011000078068400,2823700010076300,농산물,3,50110,28237,제주특별자치도,제주시,50110

In [25]:
train_merge = train_merge[['index', '송하인_격자공간고유번호', '수하인_격자공간고유번호', '물품_카테고리', '운송장_건수',
       '송하인_격자공간고유번호_sigungu', '수하인_격자공간고유번호_sigungu', '시도명', '시군구명']]

In [26]:
train_merge.columns = ['index', '송하인_격자공간고유번호', '수하인_격자공간고유번호', '물품_카테고리', '운송장_건수',
       '송하인_격자공간고유번호_sigungu', '수하인_격자공간고유번호_sigungu', '송하인_시도명', '송하인_시군구명',]

In [27]:
train_merge

,index,송하인_격자공간고유번호,수하인_격자공간고유번호,물품_카테고리,운송장_건수,송하인_격자공간고유번호_sigungu,수하인_격자공간고유번호_sigungu,송하인_시도명,송하인_시군구명
0,0,5011000595017300,2871000192069300,음반,3,50110,28710,제주특별자치도,제주시
1,1,4148000690043300,5011000264024400,문화컨텐츠,3,41480,50110,경기도,파주시
2,2,5011000078068400,1120000007005400,농산물,3,50110,11200,제주특별자치도,제주시
3,3,4127100048006400,5011000587019400,기타식품,7,41271,50110,NaN,NaN
4,4,5011000078068400,2823700010076300,농산물,3,50110,28237,제주특별자치도,제주시
...,...,...,...,...,...,...,...,...,...
31679,31679,4471000290087200,5011000213073200,스포츠잡화,3,44710,50110,충청남도,금산군
31680,31680,1129000014045300,5011000319087100,스마트디바이스,4,11290,50110,NaN,NaN
31681,31681,1129000014045300,5011000263065200,스마트디바이스,6,11290,50110,NaN,NaN
31682,31682,4127300065073100,5011000264061200,지갑,7,41273,50110,NaN,NaN
31683,31683,2811000139076100,5011000520070100,세탁용품,4,28110,50110,NaN,NaN

In [29]:
train_df = pd.merge(train_merge, sigungu, left_on = ['수하인_격자공간고유번호_sigungu'], right_on = ['sigungu'], how = "left")

In [36]:
train_df = train_df[['index', '송하인_격자공간고유번호', '수하인_격자공간고유번호', '물품_카테고리', '운송장_건수',
       '송하인_격자공간고유번호_sigungu', '수하인_격자공간고유번호_sigungu', '송하인_시도명', '송하인_시군구명',
       '시도명', '시군구명']]

In [39]:
train_df.columns = ['index', '송하인_격자공간고유번호', '수하인_격자공간고유번호', '물품_카테고리', '운송장_건수',
       '송하인_격자공간고유번호_sigungu', '수하인_격자공간고유번호_sigungu', '송하인_시도명', '송하인_시군구명',
       '수하인_시도명', '수하인_시군구명']

In [40]:
train_df

,index,송하인_격자공간고유번호,수하인_격자공간고유번호,물품_카테고리,운송장_건수,송하인_격자공간고유번호_sigungu,수하인_격자공간고유번호_sigungu,송하인_시도명,송하인_시군구명,수하인_시도명,수하인_시군구명
0,0,5011000595017300,2871000192069300,음반,3,50110,28710,제주특별자치도,제주시,인천광역시,강화군
1,1,4148000690043300,5011000264024400,문화컨텐츠,3,41480,50110,경기도,파주시,제주특별자치도,제주시
2,2,5011000078068400,1120000007005400,농산물,3,50110,11200,제주특별자치도,제주시,NaN,NaN
3,3,4127100048006400,5011000587019400,기타식품,7,41271,50110,NaN,NaN,제주특별자치도,제주시
4,4,5011000078068400,2823700010076300,농산물,3,50110,28237,제주특별자치도,제주시,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
31679,31679,4471000290087200,5011000213073200,스포츠잡화,3,44710,50110,충청남도,금산군,제주특별자치도,제주시
31680,31680,1129000014045300,5011000319087100,스마트디바이스,4,11290,50110,NaN,NaN,제주특별자치도,제주시
31681,31681,1129000014045300,5011000263065200,스마트디바이스,6,11290,50110,NaN,NaN,제주특별자치도,제주시
31682,31682,4127300065073100,5011000264061200,지갑,7,41273,50110,NaN,NaN,제주특별자치도,제주시
31683,31683,2811000139076100,5011000520070100,세탁용품,4,28110,50110,NaN,NaN,제주특별자치도,제주시